{% extends "SalesEngineOnlineDesafioBundle:template:template_backoffice.html.twig" %}

{% block title %}Backoffice{% endblock %}

{% block styles %}
    {% stylesheets 
        'bundles/salesengineonlinedesafio/css/backoffice.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="col-md-1 col-sm-1"></div>
    <div id="main" class="col-md-10 col-sm-10 col-xs-12">
        {% block maincontent %}{% endblock %}
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="push"></div>
    <div id="footer">
        <nav class="navbar navbar-default navbar-bottom" role="navigation">
            <div class="container-fluid container-footer">
                <div class="version"><span class="glyphicon glyphicon-copyright-mark"></span> Pedro Resende</div>
            </div>
        </nav>
    </div>
{% endblock %}