<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        Já viste esta oportunidade de emprego em <a href="http://{{ app.request.host }}">http://{{ app.request.host }}</a>.
    </body>
</html>
